<!DOCTYPE html>
<html>

<meta charset="utf-8">
<title>Lotto</title>
<link rel="stylesheet" href="../report/css/schools.css">
</head>


<body>
    <div class="topnav" id="myTopnav">
        <nav>
            <a href="../report/me.html">Me </a>
            <a href="../report/report.html">Report</a>
            <a href="../report/about.html">About</a>
            <a href="../report/schools.html">Schools</a>
            <a href="../report/flag.html">Flags</a>
        </nav>
    
    </div>
    <div class="main">
        <h1>Lotto numbers for today :</h1>

        <p> <%= lotto %></p>
    </div>
</body>

</html>