<!DOCTYPE html>
<html>

<meta charset="utf-8">
<title>Today</title>
<link rel="stylesheet" href="../public/report/css/style.css">
<link rel="icon" href="../public/report/img/poop.png">
</head>


<body>

    <div class="main">
        <h1>Today is...</h1>

        <p>The date and time is: <%= date %></p>
    </div>
</body>

</html>