@page
@model AboutModel
@{
    ViewData["Title"] = "Course info";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>In this Part of the course we are learning about .Net programming</p>
    <p>You can visit the course repo <a href="https://github.com/Webbprogrammering/websoft">here</a>.</p>
</div>
